<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_miniTag_A_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,188},{23,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{23,22}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>card_miniTag_B_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,490},{23,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{23,20}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>card_miniTag_C_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,220},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{21,20}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>card_miniTag_D_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,209},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{21,22}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>card_num_b_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,132},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,36}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>card_num_b_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,490},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,35}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>card_num_b_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,99},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,39}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>card_num_b_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,176},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,35}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>card_num_b_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,151},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,35}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>card_num_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,136},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,36}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>card_num_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,125},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,36}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>card_num_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,170},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,35}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>card_num_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,150},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,35}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>card_num_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,125},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,36}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>card_num_b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,180},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,35}}</string>
                <key>sourceSize</key>
                <string>{25,37}</string>
            </dict>
            <key>card_num_b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,125},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,36}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>card_num_b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,99},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,36}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>card_num_r_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,99},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,36}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>card_num_r_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,35}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>card_num_r_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,99},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,39}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>card_num_r_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,194},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,35}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>card_num_r_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,150},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,35}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>card_num_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,99},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,36}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>card_num_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,169},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,36}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>card_num_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,183},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,35}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>card_num_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,162},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,35}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>card_num_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,158},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,36}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>card_num_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,179},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,35}}</string>
                <key>sourceSize</key>
                <string>{25,37}</string>
            </dict>
            <key>card_num_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,99},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,36}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>card_num_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,132},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,36}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>card_people_b_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,120}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>card_people_b_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{95,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,119}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card_people_b_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,120}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>card_people_r_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,120}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>card_people_r_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{95,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,119}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card_people_r_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,120}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>card_tag_A_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,59},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{53,51}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>card_tag_B_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,163},{49,43}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{49,43}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>card_tag_C_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{55,53}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>card_tag_D_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,112},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{49,51}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>paibei_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,86},{82,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,112}}</string>
                <key>sourceSize</key>
                <string>{84,114}</string>
            </dict>
            <key>paimian_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{82,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,112}}</string>
                <key>sourceSize</key>
                <string>{84,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92e51afec31a5b8534aa3e654f644d81$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
