<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daodansuipian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,207},{11,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{11,20}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>daodansuipian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,476},{19,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,222}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{324,222}}</string>
                <key>sourceSize</key>
                <string>{358,250}</string>
            </dict>
            <key>wang.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,183},{167,291}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{167,291}}</string>
                <key>sourceSize</key>
                <string>{189,299}</string>
            </dict>
            <key>zha.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{179,181}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{179,181}}</string>
                <key>sourceSize</key>
                <string>{189,187}</string>
            </dict>
            <key>zhadansuipian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{26,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,22}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>zhadansuipian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,183},{12,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{12,22}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>teshupaixing.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75a2dd678f995c962b66d32a8398fedc$</string>
            <key>textureFileName</key>
            <string>teshupaixing.png</string>
        </dict>
    </dict>
</plist>
