<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LargeCard_commom_shuzi_hei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,293},{38,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{38,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,145},{42,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,36},{32,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{32,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,149},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hei_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,220},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{36,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,195},{26,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,169},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{28,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,137},{30,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{30,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,193},{26,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,165},{28,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{28,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,192},{26,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,190},{28,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{28,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,162},{28,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{28,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,93},{38,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{38,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,101},{42,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{32,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{32,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,351},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,199},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{36,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,165},{26,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,146},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{28,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,70},{30,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{30,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,189},{26,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,132},{28,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{28,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,93},{26,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,102},{28,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{28,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_commom_shuzi_hong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,102},{28,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{28,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LargeCard_huase_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{80,89}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>LargeCard_huase_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,86},{82,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{82,77}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>LargeCard_huase_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{82,85}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{82,85}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>LargeCard_huase_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,200},{80,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{80,91}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>LargeCard_king_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{28,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{28,148}}</string>
                <key>sourceSize</key>
                <string>{50,148}</string>
            </dict>
            <key>LargeCard_king_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,201},{28,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{28,148}}</string>
                <key>sourceSize</key>
                <string>{50,148}</string>
            </dict>
            <key>LargeCard_king_huase_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{97,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,90}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
            <key>LargeCard_king_huase_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{93,102}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
            <key>SmallCard_king_huase_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,101},{46,28}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{46,28}}</string>
                <key>sourceSize</key>
                <string>{52,34}</string>
            </dict>
            <key>SmallCard_king_huase_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,101},{46,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{46,30}}</string>
                <key>sourceSize</key>
                <string>{52,34}</string>
            </dict>
            <key>ddz_dizhutag.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,398},{101,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,83}}</string>
                <key>sourceSize</key>
                <string>{103,85}</string>
            </dict>
            <key>paibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{142,195}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{142,195}}</string>
                <key>sourceSize</key>
                <string>{146,197}</string>
            </dict>
            <key>paimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,197}}</string>
                <key>sourceSize</key>
                <string>{146,197}</string>
            </dict>
            <key>xiaopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,152},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd59776c82a2543a256a2a7a06e2b91f$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
